extends ../layouts/application.pug

block header
  = t('views.session.new.signIn')

block content
  +formFor()(action=route('session') method='post')
    +input(signInForm, 'email', t('views.session.new.email'), errors)(type="text").mt-2.mb-2
    +input(signInForm, 'password', t('views.session.new.password'))(type="password").mt-2.mb-2
    +submit(signInForm)(value=t('views.session.new.submit')).mt-3
